@page
@model NeagoeElizaProgramariStomatologie.Pages.Medici.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medic.PrenumeMedic" class="control-label"></label>
                <input asp-for="Medic.PrenumeMedic" class="form-control" />
                <span asp-validation-for="Medic.PrenumeMedic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medic.NumeMedic" class="control-label"></label>
                <input asp-for="Medic.NumeMedic" class="form-control" />
                <span asp-validation-for="Medic.NumeMedic" class="text-danger"></span>
            </div>
           <div class="form-group">
 <div class="table">
 <table>
 <tr>
                            @{
                                int cnt = 0;
                                foreach (var specializare in Model.AssignedSpecializareDataList)
                                                    {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
         <input type="checkbox"
     name="specializariSelectate"
     value="@specializare.SpecializareID"
         @(Html.Raw(specializare.Assigned ?
"checked=\"checked\"" : "")) />
                                    @specializare.SpecializareID @: @specializare.Nume
                                    @:</td>
                                }
                                @:</tr>
                            }
 </table>
 </div>
 </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
